.positionFieldSet {
    border-color: rgb(255, 255, 118);
}

.scaleFieldSet {
    border-color: rgb(122, 255, 255);
}

.rotationFieldSet {
    border-color: rgb(255, 128, 202);
}

.saveButton {
    width: 50%;
    margin-top: 2vh;
}